:root {
  /*Cores - cinzas*/
    --c13: #000;
    --c12: #121212;
    --c11: #2e2e2e;
    --c10: #404040;
    --c09: #595959;
    --c08: #707070;
    --c07: #999;
    --c06: #b3b3b3;
    --c05: #ccc;
    --c04: #dedede;
    --c03: #ededed;
    --c02: #f7f7f7;
    --c01: #fff;

  /*Cores - vermelhos*/
    --p05: #330000;
    --p04: #660000;
    --p03: #A60000;
    --p02: #E50C0C;
    --p01: #FF0000;

  /*Cores - verdes*/
    --s05: #073300;
    --s04: #0E6600;
    --s03: #0DA600;
    --s02: #5FE50C;
    --s01: #00FF0A;

  /*Fontes*/
  --font-display: "Russo One", sans-serif;
  --font-main: "Roboto", sans-serif;
}